@using Makale.Entities
@model Kullanici


<div class="container">
    <div class="row">
        <h2>Profiliniz</h2>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="~/Image/@Model.ProfileImageFile"
                 class="img-circle" width="130" height="130" />
        </div>
        <div class="col-md-8">
            <h3>@(Model.Name+" "+Model.Surname)</h3>
            <br />
            <h4><b>@Html.DisplayNameFor(m => m.Username) :</b>
                   @Model.Username</h4>
            <br />
            <h4><b>@Html.DisplayNameFor(m => m.Email) :</b>
                   @Model.Email</h4>
            <br />
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <a href="#"
                   class="btn dropdown-toggle btn-info"
                   data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                    Seçenekler
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Home/ProfileDuzenle">
                            <span class="glyphicon glyphicon-edit"></span>Profil Düzenle
                        </a>
                    </li>
                    <li>
                        <a href="/Home/ProfileSil"
                           onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz?')">
                            <span class="glyphicon glyphicon-trash"></span>Profil Sil
                        </a>
                    </li>
                </ul>
            </div>
          
        </div>

        </div>

    </div>
